gtts==2.5.4
packaging==26.3
python-dateutil==2.9.0.post0
newspaper4k==0.9.6
pillow==12.3.0
tldextract==5.3.2
filelock==3.32.2
lxml==6.1.2
lxml-html-clean==0.4.5
PyYAML==6.0.3
certifi==2026.7.22
eyed3==0.9.9
mutagen==1.48.1
praw==8.0.3
requests==2.34.2